<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SkeletonGameManager.Module.Menus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SkeletonGameManager.Module.Menus.Properties.Settings>
            <setting name="RecentDir1" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentDir2" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentDir3" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentDir4" serializeAs="String">
                <value />
            </setting>
            <setting name="RecentDir5" serializeAs="String">
                <value />
            </setting>
        </SkeletonGameManager.Module.Menus.Properties.Settings>
    </userSettings>
</configuration>